.mynav{
    background-image: url('../img/heroImage.jpeg');
    min-height: 100vh;
}
.navbar{
    background-color: transparent !important;
}
.navbar .navbar-brand{
    color: #FFF;
    font-weight: bolder;
    font-size: 1.3em;
}
.navbar .navbar-nav{
    margin: 0 auto;
    
}
.navbar .nav-item{
    padding-left: 25px;
}

.navbar .nav-item a{
    color: #FFF !important;
    
}
/* Style the button that is used to open and close the collapsible content */
 .collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
 .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
 .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }